/* ==========================================================================
   MASTHEAD - Refined Academic Design
   ========================================================================== */

.masthead {
  position: fixed;
  background: rgba(250, 250, 250, 0.95);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  height: fit-content;
  top: 0;
  width: 100%;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: var(--global-border-color);
    width: 100%;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.75em 1.5em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1.5px;
        background: var(--global-primary-color);
        transition: width 0.25s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  background-color: transparent;
  display: block;
  list-style-type: none;
  white-space: nowrap;
  transition: $global-transition;

  a {
    padding: 0.5em 0.75em;
    border-radius: $border-radius-sm;
    transition: $global-transition;

    &:hover {
      color: var(--global-primary-color);
    }
  }

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}